@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}



// FOOTER

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


// BIG TITLE
.hero-scene{
    background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(/Media/teacreativelife-soo-chung-1-01mnhMTbw-unsplash.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}

.hero-scene-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




// HOME PAGE
.text-justify{
    text-align: justify;
}


// GALERIE

.image-card{

    position: relative;

    

    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
        
        height: 250px;
        width: auto;
        object-fit: cover;
        

    }

    .titre-image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
}



// FORMULAIRE DE CONNEXION

.form-label{
    color: $primary;
}